*{
  box-sizing: border-box;
}

body {
  background-image: url("images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

header {
  text-align: center;
}

header p {
  font-size: 16px;
}

main {
  width: 90%;
  margin: 120px auto;
}

section {
  margin: auto 24px;
}

.bg-image {
  background-image: url(images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box, content-box;
}

.form-entry {
  box-shadow: 0 3px 12px hsl(249, 10%, 26%);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 12px;
  margin: 36px auto;
}

form {
  padding: 16px;
}

input {
  border-radius: 10px;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-indent: 12px;
  margin: 12px 0;
  height: 48px;
  width: 100%;
}

button {
  box-shadow: 0 1px 4px hsl(249, 10%, 26%);
  background-color: hsl(154, 59%, 51%);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 60px;
  width: 100%;
}

.footnote {
  color: hsl(246, 25%, 77%);
  font-size: 12px;
  text-align: center;
}

.footnote-link {
  color: hsl(0, 100%, 74%);
}

.trial-bg {
  box-shadow: 0 3px 12px hsl(249, 10%, 26%);
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.faded-text {
  opacity: 0.8;
}

.error-message {
  color: hsl(0, 100%, 74%);
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin: -6px 0 0px 0;
}

.hidden {
  display: none;
}

.group {
  display: flex;
  flex-direction: column;
}

.info-section {
  flex: 2;
}

.form-section {
  flex: 5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media all and (min-width: 900px) {
  body {
    background-image: url("images/bg-intro-desktop.png");
    width: 75%;
    margin:auto
  }

  header {
    text-align: left;
  }

  h1 {
    font-size: 3rem;
  }

  .group {
    flex-direction: row;
  }
}
